/* wumpus.css */

#gameboard {
    width: 500px; /* Adjust the size as needed */
    height: 500px; /* Adjust the size as needed */
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 2px;
    border: 2px solid black; 
  
}

.square {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 20px; 
}

.wumpus {
    background-color: rgb(110, 110, 98);
    color: #ffffff; 
}

.pit {
    background-color: rgb(169, 43, 43);
    color: #ffffff; 
}

.player {
    background-color: #d2b48c;
    color: #000000; 
}

.empty {
    background-color: #fff5e1;
    color: #000000; 
}

.gray {
    background-color: #bababa;
    color: #000000; 
}

.black {
    fill: rgb(28, 28, 28);
}

.white {
    fill: rgb(255, 255, 255);
}


